.disabled{
    background: white;
    border: 1px solid black;
}
.openedBy{
    background: white;
    border: none;
}

.time{
    background: white;
    border: none;
}
.activated{
    background: yellow;
    border: 1px solid black;
}
.space{
    padding:5px;
}
.hidden{
    display:none;
}
#editASSET{
    width:50px;
}
#assigneLabel{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
#assigneName{
    border: 1px dotted black;
    width: 172px;
}