@media (max-width: 767px) {
 #asideLeft{
        border: none;
    }
}
@media (min-width:768px){
    #asideLeft{
    border-right: 1px solid black;   
    }
}

.divHidden{
    display:none;
}

.cbutton{
       width:100px;
}

#controlList{
       margin-top:50px;
}
.btn{
    margin: 10px;
}



