#newCat{
    display:none;
}
.entry{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
#tableCatName{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

#close{
    margin-left:200px;
}
.hidden{
    display:none;
}