.disabled{
    background: white;
    border: 1px solid black;
}
.openedBy{
    background: white;
    border: none;
}

.time{
    background: white;
    border: none;
}
.activated{
    background: yellow;
    border: 1px solid black;
}
.space{
    padding:5px;
}
#editTKT{
    width:50px;
}
.picker{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
